
h1 {
  font-family: 'Poppins', serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  flex:100%;
  border-bottom: 1px solid #fff; 
}
.to-do {
  margin: 40px 0;

  background: linear-gradient(135deg, rgba(110, 68, 255, 0.4), rgba(136, 50, 119, 0.4));
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;
}

.collection {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  border-right: 1px solid #fff; 
  text-align: left;
  gap: 15px;
}

.collection:last-child {
  border-right: none;
}

.collection-title {
  font-family: "Poppins", serif;
  color: #fff; 
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.add-item {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.add-item input {
  font-family: "Poppins", serif;
  padding: 10px;
  border: 1px solid #AA9166; 
  border-radius: 5px;
  background: linear-gradient(135deg, #6E44FF, #883277);;
  color: #D9C2A9;
}

.add-item button {
  font-family: 'Playfair Display', serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #AA9166; 
  color: #1F1B16; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-item button:hover {
  background-color: #8C744B; 
}

.edit-delete-icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.edit-delete-icons .fa-pencil,
.edit-delete-icons .fa-trash-can {
  color: #F3EEEA; 
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

}

.edit-delete-icons .fa-pencil:hover,
.edit-delete-icons .fa-trash-can:hover {
  color: #f15044;
  transform: scale(1.1);
}

.fa-circle-plus {
  color: #F3EEEA;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-circle-plus:hover {
  transform: scale(1.2);
  color: #724066;
}

.not-logged-in {
  font-family: "Poppins", serif;
  padding: 10px;
  text-align: center;
}
.not-logged-in a{
 background-color: #7A3CC1;
 color: #fff;
 padding: 5px;
 border-radius: 10px;
 

}

li {
  display: flex;
  font-family: "Poppins", serif;
  font-size: 1rem;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;

  color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

li:hover {
  transform: scale(1.02);
  background-color: #926C89;
}


.checkbox-btn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-btn label {
  cursor: pointer;
  font-size: 14px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2.5px solid #F3EEEA; 
  transition: .2s linear;
}
.checkbox-btn input:checked ~ .checkmark {
  background-color: transparent;
}


.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #007185;
  filter: drop-shadow(0px 0px 10px #007185);
  border-width: 0 2.5px 2.5px 0;
  transition: .2s linear;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}


.checkbox-btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
  transform: rotate(45deg);
  border: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}


