<section class="sleepComp">
    <div class="wrapper">
        <h2>SLEEP</h2>
        <div id="sleep-tracker">
            <div class="day-label">Hours</div>
            @for(day of weekDays;track $index) {
            <div class="day-label"> {{ day.label }} {{day.date.getDate()}}/{{day.date.getMonth()+1}}</div>
            }
            <div class="day" id="hours-header">
                @for(hour of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17] ;track $index) {
                <div class="header-hour">{{hour}}</div>
                }
            </div>
            @for (day of weekDays; track $index) {
            <div class="day" id="{{day.label.toLowerCase()}}">
                @for (hour of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]; track $index) {
                @if(day.hours!=0 && hour<= day.hours) { <div (click)="hoursSlept($event, day.date)"
                    class="hour-circle blue-dot" [attr.data-hour]="hour">
            </div>
            } @else{
            <div (click)="hoursSlept($event, day.date)" class="hour-circle" [attr.data-hour]="hour"></div>
            }
            }
            @if(day.hasDetails) {
            <div class="sleepLog edited" (click)="showSleepEditForm(day.date)">Edit Details</div>
            } @else{

            <div class="sleepLog" (click)="showSleepLogForm(day.date)">Add Details</div>
            }
        </div>
        }
    </div>
    </div>
    @if (addingSleepLog) {
    <div class="gosho">

        <div class="sheep-head">
            <div class="lt-ear"></div>
            <div class="lt-round-ear"></div>
            <div class="rt-ear"></div>
            <div class="rt-round-ear"></div>
            <div class="lt-eye">
                <div class="black"></div>
            </div>
            <div class="rt-eye">
                <div class="black"></div>
            </div>
            <div class="lt-nose"></div>
            <div class="rt-nose"></div>
            <span class="talk">Beeee!</span>
        </div>
        <div class="sheep-body"></div>
        <div class="fur fur-1"></div>
        <div class="fur fur-2"></div>
        <div class="fur fur-3"></div>
        <div class="fur fur-4"></div>
        <div class="fur fur-5"></div>
        <div class="fur fur-6"></div>
        <div class="fur fur-7"></div>
        <div class="fur fur-8"></div>
        <div class="fur fur-9"></div>
        <div class="fur fur-10"></div>
        <div class="fur fur-11"></div>
        <div class="fur fur-12"></div>
        <div class="fur fur-13"></div>
        <div class="fur fur-14"></div>
        <div class="fur fur-15"></div>
        <div class="fur fur-16"></div>
        <div class="fur fur-17"></div>
        <div class="fur fur-18"></div>
        <div class="fur fur-19"></div>
        <div class="fur fur-20"></div>
        <div class="fur fur-21"></div>
        <div class="fur fur-22"></div>
        <div class="fur fur-23"></div>
        <div class="fur fur-24"></div>
        <div class="fur fur-25"></div>
        <div class="fur fur-26"></div>
        <div class="leg-lt"></div>
        <div class="leg-lt-shadow"></div>
        <div class="foot-lt"></div>
        <div class="foot-lt-shadow"></div>
        <div class="leg-rt"></div>
        <div class="leg-rt-shadow"></div>
        <div class="foot-rt"></div>
        <div class="foot-rt-shadow"></div>


    </div>
    }
    @if (addingSleepLog) {
    <div class="today-sleep">
        <h3>Sleep Log for <span
                class="blue">{{selectedDate.getDate()}}/{{selectedDate.getMonth()+1}}/{{selectedDate.getFullYear()}}</span>
        </h3>

        <div class="form-group">
            <label for="wentToBed">Went to bed at:</label>
            <select id="startTime" [(ngModel)]="this.startTime" name="startTime">
                @for (time of this.times; track $index) {
                <option>{{time}}</option>
                }
            </select>

            <label for="wokeUp">Woke up at at:</label>
            <select id="endTime" [(ngModel)]="this.endTime" name="endTime">
                @for (time of this.times; track $index) {
                <option>{{time}}</option>
                }
            </select>

            <label for="sleepQuality">Sleep Quality:</label>
            <select id="sleepQuality" [(ngModel)]="this.sleepQuality" name="sleepQuality">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>

            <label for="dreams">Dreams (Optional):</label>
            <textarea id="dreams" [(ngModel)]="this.dreams" name="dreams"
                placeholder="Describe your dreams here..."></textarea>
            @if(this.hasLog) {
            <button
                (click)="editLog(this.sleepQuality, this.dreams,this.startTime, this.endTime, this.id, selectedDate)">Edit
                data</button>
            } @else {
            <button (click)="addLog()">Log data</button>
            }
        </div>

    </div>
    }
</section>