.sleepComp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 33%;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    padding-right: 150px;
}

#sleep-tracker {
    display: grid;
    grid-template-columns: auto repeat(18, 1fr);
    grid-template-rows: auto repeat(7, auto);
    gap: 10px;

}

#hours-header {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    gap: 5px;
    justify-items: center;
}

h2 {
    margin-bottom: 16px;
    text-align: center;
}

.days-header {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(8, auto);
    gap: 5px;

}

.day-label {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
}

.day {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-column: 2 / -1;
    gap: 5px;
    align-items: center; 
    position: relative;/* Ensures content is vertically aligned */

}


#hours-header {
    grid-row: 1;
}

#days-header {
    grid-column: 1;
}
#mon { grid-row: 2; }
#tue { grid-row: 3; }
#wed { grid-row: 4; }
#thu { grid-row: 5; }
#fri { grid-row: 6; }
#sat { grid-row: 7; }
#sun { grid-row: 8; }

.hour-circle {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: lightblue;
    cursor: pointer;
}
.hour-circle:hover {
    background-color: blue;
}


.header-hour {
    text-align: center;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}



.today-sleep {
    font-family: "Comfortaa", sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #F5F5F5;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  
.today-sleep h3 {
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}
.blue {
    color: blue;
}
.blue-dot {
    background-color: blue;
}
.form-group button {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: lightblue;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;

}
  label {
    display: block;
    font-weight: 500;
    margin: 5px 0;

  }
  
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .sleepLog {
    padding: 3px;
    background-color: lightblue;
    font-size: 0.9rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top:0px;
    right: -100px;
    text-align: center;
  }
  
  .sleepLog:hover {
    background-color: blue;
}

.edited {
    background-color:blue;
}