<section class="sleepComp">
    <div class="wrapper">
        <h2>Hours of sleep</h2>
        <div id="sleep-tracker">
            <div class="day-label"></div>
            @for(day of weekDays;track $index) {
            <div class="day-label"> {{ day.label }} {{day.date.getDate()}}/{{day.date.getMonth()+1}}</div>
            }
            <div class="day" id="hours-header">
                @for(hour of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17] ;track $index) {
                <div class="header-hour">{{hour}}</div>
                }
            </div>
            @for (day of weekDays; track $index) {
            <div class="day" id="{{day.label.toLowerCase()}}">
                @for (hour of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]; track $index) {
                @if(day.hours!=0 && hour<= day.hours) { <div (click)="hoursSlept($event)" class="hour-circle blue-dot"
                    [attr.data-hour]="hour">
            </div>
            } @else{
            <div (click)="hoursSlept($event)" class="hour-circle" [attr.data-hour]="hour"></div>
            }
            }
            @if(day.hours!=0) {
            <div class="sleepLog edited" (click)="showSleepLogForm(day.date)">Edit Details</div>
            } @else{

            <div class="sleepLog" (click)="showSleepLogForm(day.date)">Add Details</div>
            }
        </div>
        }
    </div>
    </div>
    @if (addingSleepLog) {
    <div class="today-sleep">
        <h3>Sleep Log for <span
                class="blue">{{selectedDate.getDate()}}/{{selectedDate.getMonth()+1}}/{{selectedDate.getFullYear()}}</span>
        </h3>

        <div class="form-group">
            <label for="wentToBed">Went to bed at:</label>
            <select id="startTime" [(ngModel)]="this.startTime" name="startTime">
                @for (time of this.times; track $index) {
                <option>{{time}}</option>
                }
            </select>

            <label for="wokeUp">Woke up at at:</label>
            <select id="endTime" [(ngModel)]="this.endTime" name="endTime">
                @for (time of this.times; track $index) {
                <option>{{time}}</option>
                }
            </select>

            <label for="sleepQuality">Sleep Quality:</label>
            <select id="sleepQuality" [(ngModel)]="this.sleepQuality" name="sleepQuality">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>

            <label for="dreams">Dreams (Optional):</label>
            <textarea id="dreams" [(ngModel)]="this.dreams" name="dreams"
                placeholder="Describe your dreams here..."></textarea>
            @if(this.hasLog) {
                <button (click)="editLog(this.sleepQuality, this.dreams,this.startTime, this.endTime)">Edit data</button>
            } @else {
                <button (click)="addLog(this.sleepQuality, this.dreams,this.startTime, this.endTime)">Log data</button>
            }
        </div>

    </div>
    }
</section>