.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  margin-top: 15px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.color-picker-container {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

#color-picker {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
}


.modal-actions {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
}

.save-btn:hover {
  background-color: #45a049;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

.cancel-btn:hover {
  background-color: #e53935;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #f44336;
}