<h1>To Do:</h1>
<div class="to-do">
    @for (list of toDoLists; track $index; let listIndex = $index) {
    <section class="collection">
        <h2 class="collection-title">{{list.collection}}</h2>


        <ul>
            @for(item of list.items;  track $index; let itemIndex = $index) {
            @if (isEditing(list.id, itemIndex)){
            <li>
                <input type="text" [(ngModel)]="editedValue" placeholder="Enter to-do item" id="editedItem" required>
                <button (click)="editItem(list.id, itemIndex, editedValue)" id="add"> Save</button>
            </li>
            }@else {
            <li>
                <label class="checkbox-btn">

                    <input id="checkbox" type="checkbox">
                    <span class="checkmark"></span>
                    <span class="item">{{item}}</span>
                </label>
                <div class="edit-delete-icons">
                    <i (click)="handleEdit(list.id, itemIndex)" class="fa-solid fa-pencil"></i>
                    <i (click)="deleteItem(list.id, itemIndex)" class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            }
            }
        </ul>
        <div class="add-item">

            @if(list.isAdding) {
                <input type="text" [(ngModel)]="list.inputValue" placeholder="Enter to-do item">
                <button (click)="addItem(list)" id="add"> Add new item</button>
            } @else {
            <i (click)="handleAddItem(list)" class="fa-solid fa-circle-plus"></i>
            }
        </div>

    </section>
    }
</div>

<p>This is the most basic to-do list that our app offers.</p>
<p>To customize the to-do app, unlock productivity trackers and progress reports <a href="#">Login</a> or <a
        href="#">Register</a></p>