<h1>To Do:</h1>
<div class="to-do">
    @for (list of toDoLists; track $index) {
    <section class="collection">
        <h2 class="collection-title">{{list.collection}}</h2>


        @if(list.items.length == 0) {
        <div class="add-item">
            <p>Add item</p>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        } @else{
        <ul>
            @for(item of list.items; track $index) {
            <li>
                <label class="checkbox-btn">
                    <input id="checkbox" type="checkbox">
                    <span class="checkmark"></span>
                    <span class="item">{{item}}</span>
                </label>
                <div class="edit-delete-icons">
                    <i class="fa-solid fa-pencil"></i>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </li>
            }
        </ul>
        <div class="add-item">
            
            @if(list.isAdding) {
                <input type="text" [(ngModel)]="list.inputValue" placeholder="Enter text here">
                <button (click)="addItem(list)" id="add"> Add new item</button>
            } @else {
                <i (click)="handleAddItem(list)" class="fa-solid fa-circle-plus"></i>
            }
        </div>
        }
    </section>
    }
</div>

<p>This is the most basic to-do list that our app offers.</p>
<p>To customize the to-do app, unlock productivity trackers and progress reports <a href="#">Login</a> or <a
        href="#">Register</a></p>