<div class="todo-container">
  <div class="todo-list-section">
    <h2>To Do</h2>

    <button class="add-list-btn" (click)="openListTaskModal()"><i class="fa-solid fa-plus"></i></button>

    <div class="todo-lists">
      @for (list of toDoLists; track list.id) {
      <div [ngStyle]="{'background-color': list.color}" class="todo-list">
        <h3>{{ list.title }}</h3>
        <div (click)="openListTaskModal(list)" class="edit-dots"><i class="fa-solid fa-ellipsis-vertical"></i></div>
        @for (task of list.tasks; track task.id) {
        <div class="task-item">
          <label class="custom-checkbox">
            <input type="checkbox" [checked]="task.completed" (change)="onTaskCheckboxTogglelist(list, task)" />
            <span class="checkmark"></span>
          </label>
          <span [class.completed]="task.completed">{{ task.title }}</span>
          <label for="checkbox-{{task.title}}"></label>
          <button class="edit-task-btn" (click)="openTaskModal(list, task)">
            <i class="fa fa-pencil-alt"></i>
          </button>
          <button class="remove-task-btn" (click)="removeTask(list, getTaskIndex(list, task))">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        }
        <button class="add-task-btn" (click)="openTaskModal(list)">Add Task</button>
      </div>
      }
    </div>
  </div>
</div>

@if(isModalOpen) {
<div class="modal-wrapper">
  <app-task-modal (taskAdded)="addTask($event)" (close)="closeModal()" [selectedTaskList]="selectedTaskList"
    [taskToEdit]="taskToEdit" />
</div>
}

@if(isListModalOpen) {
<div class="modal-wrapper">
  <app-list-modal [listToEdit]="listToEdit" (listUpdated)="handleListUpdated($event)"
    (listCreated)="createNewList($event)" (listDeleted)="onDeleteList($event)" (close)="closeListModal()" />
</div>
}