<div class="todo-container">
  <div class="todo-list-section">
    <h2>To Do</h2>


    <div class="todo-lists">
      @for (list of toDoLists; track list.title) {
      <div class="todo-list">
        <h3>{{ list.title }}</h3>
        @for (task of list.tasks; track $index) {
        <div class="task-item">
          <input type="checkbox" [(ngModel)]="task.completed" />
          <span [ngClass]="{ 'completed': task.completed }">{{ task.title }}</span>
          <button class="remove-task-btn" (click)="removeTask(list)">X</button>
        </div>
        }
        <button class="add-task-btn" (click)="openTaskModal(list)">Add Task</button>
      </div>
      }
    </div>
  </div>
</div>

<!-- Modal for Adding or Editing a Task -->
@if(isModalOpen) {
<div class="modal-wrapper">
  <app-task-modal (taskAdded)="addTask($event)" (close)="closeModal()"  [selectedTaskList]="selectedTaskList" />
</div>
}