



main h1 {
    font-size: 4rem;
    margin: 100px;
    text-align: center;
}

.fa-check {
    color: #B7E0B8;
    padding: 10px;
}
.introduction {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 10px;
    justify-content: center;

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    font-size: 1.5rem;
}
.intro-wrapper {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.trackers-list {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.trackers-list li {
   padding-left: 40px;

}

.photo-examples {
    width: 400px;
    height: auto;
}
.photo-examples img{
    width: 100%;
    ;
}

h2 {
    text-align: center;
    margin: 50px;
}

.blue {
    color: #007BFF;
}
