
<body>
    <section class="main-page">
     
        <main>
            <h1>Productivity, your way.</h1>
            <div class="introduction">
                <div class="intro-wrapper">
                    <p>Visualize your progress with customizable trackers for:</p>
                    <ul class="trackers-list">
                        <li><i class="fa-solid fa-check"></i>Habits</li>
                        <li><i class="fa-solid fa-check"></i>Mood</li>
                        <li><i class="fa-solid fa-check"></i>Sleep</li>
                        <li><i class="fa-solid fa-check"></i>Workouts</li>
                        <li><i class="fa-solid fa-check"></i>Everything else</li>
                    </ul>
                    <div class="buttons">
                        <p><span class="blue"><i class="fas fa-tasks"></i></span> to-do lists</p>
                        <p><span class="blue"><i class="fa-solid fa-chart-line"></i></span> graphs</p>
                        <p><span class="blue"><i class="fa-solid fa-brush"></i></span> templates</p>

                    </div>
                </div>
                <div class="photo-examples">
                    <img src="images/renata-adrienn-ebvCsRypmxM-unsplash.jpg" alt="planner">
                </div>
            </div>
            <div class="cta">
                <button class="sign-up-btn">Get Started Now</button>
                <a href="#learn-more" class="learn-more-link">Learn More</a>
            </div>

            <div class="testimonials">
                <blockquote>
                    "This app completely transformed how I stay on top of my goals!" 
                    <span>- A Happy User</span>
                </blockquote>
            </div>
        </main>

    </section>
    <app-mood />


