<header>
    <div class="logo">
        <p><span id="focus">focus</span><span id="and">&</span><span id="joy">Joy</span></p>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            @if (isLoggedIn) {
            <li><a routerLink="/trackers">Trackers</a></li>
            <li><a routerLink="/productivity">Productivity</a></li>
            <li><a routerLink="/performance">Performance</a></li>
            <li><a routerLink="/inspiration">Inspiration</a></li>
            }
            @if (!isLoggedIn) {
            <li><a routerLink="/inspiration">Inspiration</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            }@else {
                <li class="profile">
                    <img (click)="toggleDropdown()" class="profile-pic" src="images\mushrooms\mushroom-7882746_1280.png"
                    alt="profilePic">
                    @if(isDropdownVisible) {
                    <div class="dropdown">
                        <li><a (click)="logout()" class="logout">Logout</a></li>
                    </div>
                    }
            </li>
            }

        </ul>
    </nav>
</header>

<router-outlet />

<footer class="footer">
    <p>Need help? <a href="mailto:radostinanikolaevageorgieva@abv.bg">Contact us</a></p>
    <p>Follow us on <a href="#">Social Media</a></p>
</footer>