<header>
    <div class="logo">
        <p><span id="focus">focus</span><span id="and">&</span><span id="joy">Joy</span></p>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/dashboard">My Dashboard</a></li>
            <li><a routerLink="/to-do">To-Do</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            @if (!isLoggedIn) {
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            }@else {
                <li class="profile">
                    <img (click)="toggleDropdown()" class="profile-pic" src="images\mushrooms\mushroom-7882746_1280.png"
                    alt="profilePic">
                    <p id="username">Joy</p>
                    @if(isDropdownVisible) {
                    <div class="dropdown">
                        <a href="#">Edit User</a>
                        <li><a (click)="logout()" class="logout">Logout</a></li>
                    </div>
                    }
            </li>
            }

        </ul>
    </nav>
</header>

<router-outlet />

<footer class="footer">
    <p>Need help? <a href="mailto:support@example.com">Contact us</a></p>
    <p>Follow us on <a href="#">Social Media</a></p>
</footer>