<div class="mood-tracker">
    <h1>Mood tracker</h1>
    <div class="excited">
        <p  class="icon-text">Excited</p>
        <img src="images/blue-bears/excited.png" alt="planner">
    </div>
    <div class=" mood-icon sad">
        <p class="icon-text">Sad</p>
        <img src="images/blue-bears/sad.png" alt="planner">
    </div>
    <div class="mood-icon happy">
        <p class="icon-text">Excited</p>
        <img src="images/blue-bears/happy.png" alt="planner">
    </div>
    <div class="mood-icon confident">
        <p class="icon-text">Excited</p>
        <img src="images/blue-bears/confident.png" alt="planner">
    </div>
    <div class="mood-icon annoyed">
        <p class="icon-text">Excited</p>
        <img src="images/blue-bears/annoyed.png" alt="planner">
    </div>
    <div class="mood-icon emotional">
        <p class="icon-text">Excited</p>
        <img src="images/blue-bears/emotional.png" alt="planner">
    </div>
    <div class="mood-icon ok">
        <p class="icon-text">Excited</p>
        <img src="images/blue-bears/ok.png" alt="planner">
    </div>
</div>