<section class="container">
    <div class="register-container">
        <div class="circle circle-one"></div>
        <div class="form-container">

            <h1 class="opacity">LOGIN</h1>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <input type="email" formControlName="email" placeholder="EMAIL" />
                @if (hasError('email', 'required') && loginForm.get('email')?.touched) {
                <p class="error">Email is required.</p>
                }
                <input type="password" formControlName="password" placeholder="PASSWORD" />
                @if (hasError('password', 'required') && loginForm.get('password')?.touched ) {
                <p class="error">Password is required.</p>
                }
                @if (errorMessage) {
                <p class="error">{{ errorMessage }}.</p>
                }
                <button type="submit" [disabled]="loginForm.invalid" [class.disabled-button]="loginForm.invalid"
                    class="opacity">
                    LOGIN</button>
            </form>
            <div class="register-forget opacity">
                <a href="/register">REGISTER</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>